header {
  background-color: rgba(0, 255, 255, 0.196);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
  min-height: 100%;
}

footer {
  height: auto;
  background-color: rgba(0, 255, 255, 0.196);
  text-align: center;
  padding: 10px 0;
}

p {
  margin: 0;
}
