@import '../../variables.scss';

header {
  background-color: $secondary-color;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
  min-height: 100%;
}

footer {
  height: auto;
  background-color: $secondary-color;
  text-align: center;
  padding: 10px 0;
}

p {
  margin: 0;
}
