@import '../../pages/EditUser/EditUser';

.doctor-editor {
  @extend .user-editor;

  & form {
    display: flex;
    flex-direction: column;
    align-items: center;

    & label {
      margin-bottom: 10px;
      text-align: center;
      & input {
        width: 100%;
        &.password {
          width: 200px;
        }
      }
    }
  }
}
