.profile-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 800px;
  background-color: rgba(128, 128, 128, 0.27);
  padding: 20px;
}

.logout-button {
  width: 100px;
}
