@import '../PetEditor/PetEditor';

.visit-editor-form {
  @extend .pet-editor-form;

  & input {
    width: 100px;
  }

  & button {
    @extend input;
  }

  & textarea {
    @extend .pet-editor-form;
  }

  & select {
    @extend .pet-editor-form;
    margin-bottom: 10px;
  }

  .date-selector {
    width: auto;
    margin-bottom: 15px;
  }
}
