.contact {
  color: black;
  outline:none;
  text-decoration: none;
  font-size: 16px;
}

.contacts-container {
  display: flex;
  flex-direction: row;
  & > div {
    margin-right: 60px;
  }
}

.address {
  margin: 0;
}

.phone-icon {
  background-image: url('svg/phone.svg');
  height: 32px;
  width: 32px;
  margin: 6px 16px 0 0;
}

.location-icon {
  background-image: url('svg/location.svg');
  height: 32px;
  width: 32px;
  margin: 6px 16px 0 0;
}

.info-container {
  display: flex;
  flex-direction: row;
}