.credentials-container {
  background-color: white;
  border-radius: 20px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 30px;
  max-width: 400px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 10% auto 0 auto;
  opacity: 100%;
}

.user-input {
  width: 100%;
  font-size: 20px;
  height: 36px;
  border-radius: 30px;
  max-width: 300px;
  border-style: solid;
  border-width: 2px;
  padding: 8px 16px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.last {
  margin-bottom: 0;
}

label {
  width: 100%;
  display: block;
}

.login-form {
  @extend label;
  & button {
    @extend .user-input;
    margin-top: 20px;
    width: 120px;
    line-height: 16px;
  }
}

.error-container {
  height: 40px;
  line-height: 30px;
  font-size: 20px;
  font-weight: bolder;
}
