.credentials-container {
  background-color: white;
  border-radius: 20px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 30px;
  max-width: 400px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 10% auto 0 auto;
  opacity: 100%;
}

.password-input {
  width: 100%;
  font-size: 20px;
  height: 36px;
  border-radius: 30px;
  max-width: 300px;
  border-style: solid;
  border-width: 2px;
  padding: 8px 16px;
  box-sizing: border-box;
}

.login-input {
  @extend .password-input;
  margin-bottom: 10px;
}

button {
  @extend .password-input;
  margin-top: 20px;
}

label {
  width: 100%;
  display: block;
}

.login-form {
  @extend label;
}

.login-button {
  margin-bottom: 10px;
  height: 36px;
  line-height: 18px;
}

.error-container {
  height: 40px;
  line-height: 50px;
  font-size: 20px;
  font-weight: bolder;
}